name: Swift Tests

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '*.md'
      - '**/*.md'
      - '.github/workflows/docc-pages.yml'
  pull_request:
    paths-ignore:
      - '*.md'
      - '**/*.md'
      - '.github/workflows/docc-pages.yml'

jobs:
  test:
    runs-on: ubuntu-slim
    env:
      DEVELOPER_DIR: "/Applications/Xcode_26.0.app/Contents/Developer"
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: swift test
